* {
  box-sizing: border-box;
}

body {
  background-color: #292424;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 35px;
  color: #fff;
  margin: 0;
  padding-bottom: 5px;
}

canvas {
  background: #000000;
  display: block;
  border-radius: 10px;
  margin: 0;
  padding-bottom: 10px;
  margin-top: 10px;
}

.btn {
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border-radius: 10px;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background: #161515;
}

.btn:active {
  transform: scale(0.98);
}

.rules-btn {
  position: absolute;
  font-size: 18px;
  top: 30px;
  left: 30px;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  background:  #ffffff;
  color: rgb(0, 0, 0);
  min-height: 100vh;
  width: 400px;
  padding: 20px;
  line-height: 1.5;
  transform: translatey(-650px);
  transition: transform 1s ease-in-out;
}

.rules.show {
  transform: translateX(0);
}
